.category-creation {
    padding-top: 2%;
    padding-left: 10%;
    width: 60%;
}

.category-creation-title {
    padding-left: 50%;
    align-items: center;
}

.form-fields {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.action-buttons {
    padding-left: 75%;
    padding-bottom: 2%;
}

.example-button-row {
    display: table-cell;
    margin-left: 5%;
    max-width: 600px;
}

.button {
    padding-left: 5%;
    padding-right: 5%;
}