<h2> Products List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Product Name</th>
            <th> Product Value </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let product of products" >
            <td> {{ product.productName }} </td>
            <td> {{ product.productValue }} </td>
            <td>
                <button (click) = "updateProduct(product.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteProduct(product.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "productDetails(product.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>