<h2> Products List</h2>
<div>
    <div>
        <input class="form-control search-input" type="text" name="search here" placeholder="search" [(ngModel)]="searchText">
    </div>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th> Product Name</th>
                <th> Product Value </th>
                <th> Updated At</th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let product of products | search:searchText" >
                <td> {{ product.productName }} </td>
                <td> {{ product.productValue }} </td>
                <td> {{product.updatedAt | date: 'MMM d, y, HH:mm:ss'}} </td>
                <td>
                    <button (click) = "productDetails(product.id)" class = "btn btn-primary"> View</button>
                    <button (click) = "updateProduct(product.id)" class = "btn btn-info" style="margin-left: 10px"> Modify</button>
                    <button (click) = "deleteProduct(product.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>